/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ff4040;
$alto: #d0d0d0;
$bouquet: #ff88ff;
$chelsea-cucumber: #30ff30;
$cod-grey: #151515;
$conifer: #30ff30;
$orange: #ffa500;
$purple: #ff88ff;
$red: #ff4040;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #88ffff;
$potters-clay: #d04040;
$rajah: #ffd744;
$raw-sienna: #ffa500;
$silver-chalice: #aaa;
